<configuration>
    <!-- Logger geral (todos os logs vão para este arquivo) -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>cacheeviction\src\main\resources\logs\geral.log</file>
        <append>true</append>
        <encoder>
            <pattern>
╔════════════════════════════════════════════════════════════════════╗%n
║ %d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] [%logger{36}] %n
╠────────────────────────────────────────────────────────────────────╣%n
║ %replace(%msg){'(.{100})', '$1%n║    '} %n
╚════════════════════════════════════════════════════════════════════╝%n
%n
            </pattern>
        </encoder>
    </appender>

    <!-- Log do Client -->
    <appender name="CLIENT_LOG" class="ch.qos.logback.core.FileAppender">
        <file>cacheeviction\src\main\resources\logs\client.log</file>
        <append>false</append>
        <encoder>
            <pattern>
╔════════════════════════════════════════════════════════════════════╗%n
║ %d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] [%logger{36}] %n
╠────────────────────────────────────────────────────────────────────╣%n
║ %replace(%msg){'(.{100})', '$1%n║    '} %n
╚════════════════════════════════════════════════════════════════════╝%n
%n
            </pattern>
        </encoder>
    </appender>

    <!-- Log do LocalizerServer -->
    <appender name="LOCALIZER_SERVER_LOG" class="ch.qos.logback.core.FileAppender">
        <file>cacheeviction\src\main\resources\logs\localizer_server.log</file>
        <append>true</append>
        <encoder>
            <pattern>
╔════════════════════════════════════════════════════════════════════╗%n
║ %d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] [%logger{36}] %n
╠────────────────────────────────────────────────────────────────────╣%n
║ %replace(%msg){'(.{100})', '$1%n║    '} %n
╚════════════════════════════════════════════════════════════════════╝%n
%n
            </pattern>
        </encoder>
    </appender>

    <!-- Log do Server -->
    <appender name="SERVER_LOG" class="ch.qos.logback.core.FileAppender">
        <file>cacheeviction\src\main\resources\logs\server.log</file>
        <append>false</append>
        <encoder>
            <pattern>
╔════════════════════════════════════════════════════════════════════╗%n
║ %d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] [%logger{36}] %n
╠────────────────────────────────────────────────────────────────────╣%n
║ %replace(%msg){'(.{100})', '$1%n║    '} %n
╚════════════════════════════════════════════════════════════════════╝%n
%n
            </pattern>
        </encoder>
    </appender>

    <!-- Log do Proxy0 -->
    <appender name="PROXY_LOG0" class="ch.qos.logback.core.FileAppender">
        <file>cacheeviction\src\main\resources\logs\proxy0.log</file>
        <append>false</append>
        <encoder>
            <pattern>
╔════════════════════════════════════════════════════════════════════╗%n
║ %d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] [%logger{36}] %n
╠────────────────────────────────────────────────────────────────────╣%n
║ %replace(%msg){'(.{100})', '$1%n║    '} %n
╚════════════════════════════════════════════════════════════════════╝%n
%n
            </pattern>
        </encoder>
    </appender>

    <!-- Log do Proxy1 -->
    <appender name="PROXY_LOG1" class="ch.qos.logback.core.FileAppender">
        <file>cacheeviction\src\main\resources\logs\proxy1.log</file>
        <append>false</append>
        <encoder>
            <pattern>
╔════════════════════════════════════════════════════════════════════╗%n
║ %d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] [%logger{36}] %n
╠────────────────────────────────────────────────────────────────────╣%n
║ %replace(%msg){'(.{100})', '$1%n║    '} %n
╚════════════════════════════════════════════════════════════════════╝%n
%n
            </pattern>
        </encoder>
    </appender>

    <!-- Log do Proxy2 -->
    <appender name="PROXY_LOG2" class="ch.qos.logback.core.FileAppender">
        <file>cacheeviction\src\main\resources\logs\proxy2.log</file>
        <append>false</append>
        <encoder>
            <pattern>
╔════════════════════════════════════════════════════════════════════╗%n
║ %d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] [%logger{36}] %n
╠────────────────────────────────────────────────────────────────────╣%n
║ %replace(%msg){'(.{100})', '$1%n║    '} %n
╚════════════════════════════════════════════════════════════════════╝%n
%n
            </pattern>
        </encoder>
    </appender>

    <!-- Log do Cache -->
    <appender name="CACHE_LOG" class="ch.qos.logback.core.FileAppender">
        <file>cacheeviction\src\main\resources\logs\cache.log</file>
        <append>false</append>
        <encoder>
            <pattern>
╔════════════════════════════════════════════════════════════════════╗%n
║ %d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] [%logger{36}] %n
╠────────────────────────────────────────────────────────────────────╣%n
║ %replace(%msg){'(.{100})', '$1%n║    '} %n
╚════════════════════════════════════════════════════════════════════╝%n
%n
            </pattern>
        </encoder>
    </appender>

    <!-- Log do AbstractMessageHandler -->
    <appender name="MESSAGE_HANDLER_LOG" class="ch.qos.logback.core.FileAppender">
        <file>cacheeviction\src\main\resources\logs\message_handler.log</file>
        <append>false</append>
        <encoder>
            <pattern>
╔════════════════════════════════════════════════════════════════════╗%n
║ %d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] [%logger{36}] %n
╠────────────────────────────────────────────────────────────────────╣%n
║ %replace(%msg){'(.{100})', '$1%n║    '} %n
╚════════════════════════════════════════════════════════════════════╝%n
%n
            </pattern>
        </encoder>
    </appender>

    <!-- Log do AbstractSocketConnection -->
    <appender name="SOCKET_CONNECTION_LOG" class="ch.qos.logback.core.FileAppender">
        <file>cacheeviction\src\main\resources\logs\socket_connection.log</file>
        <append>false</append>
        <encoder>
            <pattern>
╔════════════════════════════════════════════════════════════════════╗%n
║ %d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] [%logger{36}] %n
╠────────────────────────────────────────────────────────────────────╣%n
║ %replace(%msg){'(.{100})', '$1%n║    '} %n
╚════════════════════════════════════════════════════════════════════╝%n
%n
            </pattern>
        </encoder>
    </appender>

    <!-- Definição dos loggers específicos para cada classe -->
    <logger name="org.example.client.Client" level="info" additivity="true">
        <appender-ref ref="CLIENT_LOG"/>
    </logger>

    <logger name="org.example.locator.LocalizerServer" level="info" additivity="true">
        <appender-ref ref="LOCALIZER_SERVER_LOG"/>
    </logger>

    <logger name="org.example.server.Server" level="info" additivity="true">
        <appender-ref ref="SERVER_LOG"/>
    </logger>

    <logger name="org.example.serverproxy.Proxy0" level="info" additivity="false">
        <appender-ref ref="PROXY_LOG0"/>
    </logger>

    <logger name="org.example.serverproxy.Proxy1" level="info" additivity="false">
        <appender-ref ref="PROXY_LOG1"/>
    </logger>

    <logger name="org.example.serverproxy.Proxy2" level="info" additivity="false">
        <appender-ref ref="PROXY_LOG2"/>
    </logger>

    <logger name="org.example.utils.common.Cache" level="info" additivity="true">
        <appender-ref ref="CACHE_LOG"/>
    </logger>

    <logger name="org.example.utils.common.AbstractMessageHandler" level="info" additivity="true">
        <appender-ref ref="MESSAGE_HANDLER_LOG"/>
    </logger>

    <logger name="org.example.utils.common.AbstractSocketConnection" level="info" additivity="true">
        <appender-ref ref="SOCKET_CONNECTION_LOG"/>
    </logger>

    <!-- Logger geral que recebe todos os logs -->
    <root level="info">
        <appender-ref ref="FILE"/>
    </root>
</configuration>